fastapi
uvicorn[standard]
pydantic
motor
langchain
openai
pymongo>=4.0.0
python-dotenv
python-jose
passlib[bcrypt]
pydantic[email]
langchain_community

# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.2.0
annotated-types==0.6.0
anyio==4.9.0
attrs==24.3.0
bottleneck==1.4.2
brotli-python==1.0.9
cachetools==5.5.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.8
colorama==0.4.6
cryptography==44.0.1
datasets==3.3.2
deprecated==1.2.13
dill==0.3.8
distro==1.9.0
dnspython==2.4.2
docstring_parser==0.16
exceptiongroup==1.2.0
filelock==3.17.0
frozenlist==1.5.0
fsspec==2024.12.0
gmpy2==2.2.1
google-api-core==2.24.2
google-api-core-grpc==2.24.2
google-auth==2.38.0
google-cloud-aiplatform==1.95.1
google-cloud-bigquery-core==3.34.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.2
google-cloud-storage==2.18.0
google-crc32c==1.6.0
google-genai==1.18.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.2
googleapis-common-protos-grpc==1.69.2
grpc-google-iam-v1==0.14.2
grpcio==1.71.0
grpcio-status==1.62.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.31.2
idna==3.7
importlib-metadata==8.5.0
jinja2==3.1.6
jiter==0.6.1
joblib==1.4.2
markupsafe==3.0.2
mkl-service==2.4.0
mkl_fft==1.3.11
mkl_random==1.2.8
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.15
networkx==3.4.2
numexpr==2.10.1
numpy==2.2.5
openai==1.77.0
opentelemetry-api==1.30.0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pip==25.1
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.3
pyarrow==19.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==1.17.1
pydantic==2.10.3
pydantic-core==2.27.1
pymongo==4.13.0
pyopenssl==25.0.0
pysocks==1.7.1
python-dateutil==2.9.0
python-dotenv==1.1.0
python-tzdata==2025.2
python-xxhash==3.5.0
pytorch==2.5.1
pytz==2024.1
pyyaml==6.0.2
regex==2024.11.6
requests==2.32.3
rsa==4.7.2
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
sentence-transformers==4.1.0
setuptools==72.1.0
shapely==2.0.6
six==1.17.0
sniffio==1.3.0
sympy==1.13.3
threadpoolctl==3.5.0
tokenizers==0.21.0
tqdm==4.67.1
transformers==4.49.0
typing-extensions==4.12.2
urllib3==2.3.0
websockets==15.0.1
wheel==0.45.1
wrapt==1.17.0
xxhash==0.8.0
yarl==1.18.0
zipp==3.21.0